{
  "parser": "babel-eslint",
  "extends": ["airbnb", "plugin:flowtype/recommended"],
  "plugins": ["react", "jsx-a11y", "import", "flowtype"],
  "env": {
    "browser": true,
    "es6": true
  },
  "rules": {
    "no-console": 0
  }
}
